.heading3 {
  color: orange;
  text-align: center;
  margin: 20px auto;
}
.heading5 {
  color: darkcyan;
  text-align: center;
  margin: 20px auto;
  font-weight: bold;
}
.colHeader {
  background-color: lightblue;
}
.rowData {
  border: 1px solid lightblue;
  margin-bottom: 20px;
}
.colBookedSeat {
  text-align: center;
}
